<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>com.Controller.registerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/user/register</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>com.Controller.loginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getUserInfoController</servlet-name>
        <servlet-class>com.Controller.getUserInfoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getUserInfoController</servlet-name>
        <url-pattern>/user/getUserInfo</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>upLoadPicController</servlet-name>
        <servlet-class>com.Controller.upLoadPicController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upLoadPicController</servlet-name>
        <url-pattern>/user/ulhPhoto</url-pattern>
    </servlet-mapping>

</web-app>